<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script> <!-- Google Map API -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script> <!-- Revolution Slider -->
<script src="/rs-plugin/js/jquery.themepunch.plugins.min.js"></script> <!-- Revolution Slider -->
<script src="/js/jquery.superfish.min.js"></script> <!-- Superfish -->
<script src="/js/jquery.supersubs.min.js"></script><!-- Supersubs -->
<script src="/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="/js/jquery.flickr.min.js"></script> <!-- Flickr -->
<script src="/js/plugins.js"></script> <!-- Contains: jQuery Easing, jQuery ScrollTo -->
<script src="/js/custom.js"></script> <!-- Custom JS -->
<script src="/js/main.js"></script> <!-- Default JS -->