<div class="container">
    	<div class="row">
        	<div class="span4">
            	<div id="logo">
        			<a href="/" title="Cherub Fund"><img src="/img/Cherub-Fund-Website-Logo.png" width="80%" style="margin-bottom: 5%;"></a>
        		</div>
            </div>
            
            <div class="span8">
            	<!-- Mobile Menu -->
            	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
                
                <!-- Standard Menu -->
        		<nav id="menu">
                    <ul id="menu-nav">
                        <li><a href="/#about" class="aboutLink">About</a></li>
                        <li><a href="/members/">Members</a></li>
                        <li><a href="/portfolio/">Portfolio</a></li>
                        <li><a href="/entre/">Entrepreneurs</a></li>
                        <li><a href="/contact/">Contact</a></li>
                    </ul>
                </nav>
        	</div>
        </div>
    </div>